{% load compress %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>{{ SITE_NAME }} | {{ SITE_DESC }}</title>

    {% compress css %}
        <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'blog/css/oauth_style.css' %}" rel="stylesheet">
        <link href="{% static 'assets/css/signin.css' %}" rel="stylesheet">
    {% endcompress %}

    {% compress js %}
        <script src="{% static 'blog/js/jquery-3.1.1.js' %}"></script>
        <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    {% endcompress %}
</head>

<body>
{% block content %}
{% endblock %}
</body>
</html>