{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    {% block header %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'blog/css/cyrillic.css' %}">
    <link rel='stylesheet' href='{% static 'blog/css/style.css' %}'>
    <link rel="stylesheet" href="{% static 'blog/css/oauth_style.css' %}">
    {% comment %}<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>{% endcomment %}

    <link rel="stylesheet" href="{% static 'pygments/default.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/nprogress.css' %}">
    {% block compress_css %}
    {% endblock %}
</head>

<body class="home blog custom-font-enabled">
<div id="page" class="hfeed site">
    <header id="masthead" class="site-header" role="banner">
        <hgroup>
            <h1 class="site-title"><a href="#" title="{{ SITE_NAME }}" rel="home">{{ SITE_NAME }}</a>
            </h1>
            <h2 class="site-description">{{ SITE_DESC }}</h2>
        </hgroup>


        {% include 'base/nav.html' %}

    </header><!-- #masthead -->
    <div id="main" class="wrapper">

        {% block content %}
        {% endblock %}


        {% block sidebar %}
        {% endblock %}


    </div><!-- #main .wrapper -->
    {% include 'base/footer.html' %}
</div><!-- #page -->

</body>
<footer>
    <script type="text/javascript" src="{% static 'blog/js/jquery-3.1.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/nprogress.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/blog.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/navigation.js' %}"></script>
    {% block compress_js %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
</footer>
</html>