<footer id="colophon" role="contentinfo">
    <div class="site-info" style="text-align: center">
        Copyright&copy;&nbsp;2019&nbsp;
        <a href="{% url 'blog:index' %}" target="blank">{{ SITE_NAME }}</a>
        &nbsp;|&nbsp;

        <a href="{% url 'sitemap' %}" title="SiteMap" target="_blank">
            SiteMap
        </a>
        &nbsp;|&nbsp;
        <a href="{% url 'feed' %}" title="RSS Feed" target="_blank">
            RSS Feed
        </a>
        |&nbsp; Coding in&nbsp;
        <a href="https://github.com/enjoy-binbin/binblog-Django" target="_blank">Github</a>

    </div>
    <div class="site-info" style="text-align: center">
        Powered by
        <a href="https://www.djangoproject.com/" rel="nofollow" target="blank">Django</a>
        |借鉴于
        <a href="https://github.com/enjoy-binbin/binblog-Django" target="blank">binblog</a>
        |
        本页面加载耗时:<!!LOAD_TIME!!>s
    </div>
</footer>


