{% load blog_tags %}

<footer class="entry-meta">
    <span>
        此文章发布于
        <a href="{{ article.get_absolute_url }}" title="{{ article.add_time }}">
            <time datetime="{{ article.add_time }}">{{ article.add_time }}</time>
        </a>。
    </span>

    <span>
        属于<a href="{{ article.category.get_absolute_url }}"
             title="{{ article.category.name }}">{{ article.category.name }}</a>分类，

        {% if article.tags.all %}
            被贴了
            {% for tag in article.tags.all %}
                <a href="{{ tag.get_absolute_url }}" title="{{ tag.name }}">{{ tag.name }}</a>
                {% if tag != article.tags.all.last %},{% endif %}
            {% endfor %}
            标签。
        {% endif %}
    </span>

    <span>
        作者是
        <a href="{{ article.author.get_absolute_url }}" title="查看所有由{{ article.author.username }}发布的文章">
            {{ article.author.username }}
        </a>。

        {% ifequal user article.author %}
            <a href="{{ article.get_admin_url }}">编辑</a>
        {% endifequal %}
    </span>

    <br><span>
        文章最后修改于
        <a href="{{ article.get_absolute_url }}" title="{{ article.modify_time }}">
            <time datetime="{{ article.modify_time }}">{{ article.modify_time }}</time>
        </a>。
    </span>
</footer>