{% load blog_tags %}

<article id="post-{{ article.id }} "
         class="post-{{ article.id }} post type-post status-publish format-standard hentry">
    <header class="entry-header">

        <h1 class="entry-title">
            {% if is_index %}
                <a href="{{ article.get_absolute_url }}"
                   rel="bookmark">{{ article.title }}</a>
            {% else %}
                {{ article.title }}
            {% endif %}
        </h1>
        <div class="comments-link">
            <a href="{{ article.get_absolute_url }}#comments">
                <span>发表评论</span>
            </a>
            <div style="float:right">
                {{ article.views }} views
            </div>
        </div>
        <br/>
        {% if not is_index %}
            {% inclusion_breadcrumb_tag article %}
        {% endif %}
    </header>

    <div class="entry-content" itemprop="articleBody">
        {% if is_index %}
            {{ article.content|article_markdown|truncatechars_html:ARTICLE_DESC_LEN }}
            <p><a href='{{ article.get_absolute_url }}'>Read more</a></p>
        {% else %}
            {{ article.content|article_markdown }}
        {% endif %}

    </div>

    {% inclusion_article_meta_tag article %}

</article>