{% load blog_tags %}
<li class="parent" id="comment-{{ comment.id }}">
    <div class="comment-body">
        <div class="comment-author">
            <img alt="default" src="/media/default.jpg" class="avatar">
            <div class="fn">
                {% if comment.author.is_superuser %}
                    <a href="{{ comment.author.get_absolute_url }}">
                        {% if comment.author.nickname %}
                            {{ comment.author.nickname }}
                        {% else %}
                            {{ comment.author.username }}
                        {% endif %}
                    </a>
                {% else %}
                    {% if comment.author.nickname %}
                        {{ comment.author.nickname }}
                    {% else %}
                        {{ comment.author.username }}
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="comment-meta commentmetadata">
            {{ comment.add_time }}
        </div>

        <p>{{ comment.content|escape|article_markdown }}</p>

        <div class="reply">
            <a rel="nofollow" class="comment-reply-link" href="javascript:void(0)"
               onclick="do_reply({{ comment.pk }})" aria-label="回复给{{ comment.author.username }}">回复
            </a>
        </div>
    </div>
</li>