{% extends 'base/base.html' %}
{% load blog_tags %}
{% block header %}
    <title>{{ SITE_NAME }} | {{ SITE_DESC }}</title>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESC }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>
{% endblock %}
{% block content %}
    <div id="primary" class="site-content">
        <div id="content" role="main">
            {% if query %}
                <header class="archive-header">
                    <h2 class="archive-title"> 搜索：<span style="color: red">{{ query }}</span></h2>
                </header>
            {% endif %}
            {% if query and page.object_list %}

{#                {% pagination_tag page.object_list 2 as page.object_list %}#}

                {% for article in page.object_list %}
                    {% inclusion_article_info_tag article.object True %}
                {% endfor %}

            {% else %}
                <header class="archive-header">
                    <h1 class="archive-title">哎呀，关键字：<span>{{ query }}</span>没有找到结果，要不换个词再试试？</h1>
                </header><!-- .archive-header -->
            {% endif %}
        </div><!-- #content -->
    </div><!-- #primary -->
{% endblock %}


{% block sidebar %}
    {% inclusion_sidebar_tag %}
{% endblock %}


